<div class="container">
  <% if @host && @guesthouse == @host.guesthouse && @all_rooms.any? %>
    <strong><%= t('views.home.rooms') %></strong>
    <div class="list-group">
      <ul>
        <% @all_rooms.each do |room| %>
          <li><%= link_to "#{room.name} - #{room.max_people} pessoas", [@guesthouse, room] %></li>
        <% end %>
      </ul>
    </div>
  <% elsif @available_rooms.any? %>
    <h3><%= t('views.home.rooms') %></h3>
    <ul>
      <% @available_rooms.each do |room| %>
        <li><%= link_to "#{room.name} - #{room.max_people} pessoas", [@guesthouse, room] %></li>
      <% end %>
    </ul>
  <% end %>
</div>


