<p> <%= t('views.cities.guesthouses_in') %> <%= @city %></p>

<% @guesthouses.each do |guesthouse| %> 
  <%= link_to "#{guesthouse.brand_name}", guesthouse %></br>
<% end %> 

<%= link_to 'Voltar', root_path %>