<h1> <%= t('views.home.register_guesthouse') %></h1>

<% if(@guesthouse.errors.any?) %>
  <p><%= t('messages.verify_error') %></p>
  <ul>
    <% @guesthouse.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render partial: 'form', locals: { guesthouse: @guesthouse } %>