<h3>Resultados da busca: </h3>

<p><%= link_to 'Voltar', new_search_path %></p>

<% if @guesthouses.empty? %>
    <p>Nenhuma pousada encontrada.</p>
<% else %>
  <div>
    <p><%= @guesthouses.count %> pousadas encontradas! </p>
    <% @guesthouses.each do |guesthouse| %>
      <span><%= link_to guesthouse.brand_name, guesthouse_path(guesthouse.id) %></span>
      <span><small><%= @rooms.where(guesthouse_id: guesthouse.id).count %> quartos desta pousada atendem seus requisitos! </small></span><br>
    <% end %>
  </div>
<% end %>