<ul>
  <% @rooms.each do | room | %>
    <li><%= link_to t('views.index.link_room', name: room.name, max_people: room.max_people), 
        guesthouse_room_path(guesthouse_id: room.guesthouse.id, id: room.id) %></li>
  <% end %> 
</ul>